html {
    font-family: 'Montserrat', sans-serif;

}

body {
    background: #00B4DB;  
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  
    background: linear-gradient(to left, #0083B0, #00B4DB); 
}

.column {
    flex: 0 0 50%;
    border-radius: 40%;
    font-size: 40px;
    max-width: 24rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-left: 10px;

}

a.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }

    a.button:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

    @media all and (max-width:30em){
     a.button{
    display:block;
    margin:0.4em auto;
    }
    }

.numbrid {
    padding: 0px;
    font-size: 20px;
    border-width: 3px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 16px 15px rgba(66,66,66,.75);
    text-shadow: 0px 0px 0px rgba(66,66,66,.0);
   }
    .numbrid:focus {
        outline: none;
   }

p {
    font-size: 42px;

}