body {
    background: #00B4DB;  
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  
    background: linear-gradient(to left, #0083B0, #00B4DB); 


}

.column {
    flex: 0 0 50%;
    max-width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}

.kalkukas {
    margin-left: 10px;

}